body {
    background-image: url("https://wallpaperaccess.com/full/144901.jpg"); 
}

*{margin:0px auto;}
#container{
    position:relative;
}
 
#header{
    background:wheat;
    padding:10px;
}
#content{
    padding:10px;
}
#footer{
    height:50px;
    line-height:50px;
    background:#333;
    color:white;
}

.warning {
    font-size: 200%;
    background-color: yellow;
    color: red;
}

h2 {
    color: yellow;
}

p {
    background-color: rgba(250, 250, 250, 0.527); 
    font-size: 20pt;
}

h1,h3{
    color:rgb(0, 0, 0);
}